#screenArea{
    background-color: rgb(221, 221, 221);
    width: 396px;
    height: 300px;
    border: 2px groove black;

    
    justify-content: center;
    align-items: center;
    margin: auto;

    z-index: 9999; 
    position:relative
}



#tempBar{
    width: 25px;
    height: 298px;
    border: 2px groove black;
    float: left;
}

#sunBar{
    width: 25px;
    height: 298px;
    border: 2px groove black;
    float: right;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#inputButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#output {
    background-color: rgb(221, 221, 221);
    width: 396px;
    height: 146px;
    border: 2px groove black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    z-index: 9999;
    position:relative
}

#profileLink {
    width: 250px;
    height: 30px;;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-align: center;
    font-size: 15px;
    font-weight: 900;
    z-index: 9999;
    position:relative
}